[Unit]
Description=openNDS Captive Portal
After=network.target

[Service]
Type=forking
ExecStartPre=sleep 10
ExecStart=/usr/bin/opennds $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
